{% extends 'generator/base.html' %}

{% block content %}

<ul type="none">
    <li><h3>Правило пользования генератором паролей</h3></li>
    <li class="rule">Количество символов: <br>
        Возможность выбора количества выводимых символов
    </li>
    <li class="rule">Верхний регистр: <br>
        В сгенерированном пароле будет присутствовать заглавные буквы
    </li>
    <li class="rule">Цифры: <br>
         В сгенерированном пароле будет присутствовать цифры
    </li>
    <li class="rule">Спец символ: <br>
         В сгенерированном пароле будет присутствовать специальные символы
    </li>

</ul>
<p class="home"><a href="{% url 'home' %}">Вернутся на главную</a></p>

{% endblock %}